* {
    margin: 0;
    padding: 0%;
    box-sizing: border-box;
    /* height: 100%;
    width: 100%; */
    /* background-color: darkslategray; */
}
body {
    font-family: Arial, sans-serif;
    color: white;
}
* { box-sizing: border-box; margin: 0; padding: 0; }

.landing {
  min-height: 100vh;        /* full viewport for the Home component */
  display: flex;
  flex-direction: column;
}
header {
    background-color: #faf2f2;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    height: 80px;
    display: flex;
    align-items: center;
    padding: 0 20px;
    background: #faf2f2;
    z-index: 1000;
}
header img {
    height: 50px;
    width: 50px;
    margin-left: 20px;
}
nav {
    /* background-color: #333; */
    padding: 1rem;
}
nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  margin-left: auto;
}
.content {
    margin-top: 80px;
    padding-top: 100px;
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.content h1 {
    margin-bottom: 30px;
    color: #333;
}
.content p {
    margin: 20px;
    color: #333;
}
header * {
    display: inline;
}
header li {
    display: inline-block;
    margin: 20px;
}
header li a {
    color: #333;
    text-decoration: none;
}